.welcome-container {
  background-image: url('/images/home_wallpaper.jpg');
  background-size: cover;
  background-position: 25% 25%;
  background-repeat: no-repeat;
  width: 100%;
}

.welcome-container__create,
.welcome-container__make {
  display: flex;
  padding: 10px;
  justify-content: center;
}

.welcome-container__text {
  color: #00F168;
  font-weight: bold;
}

@media (min-width: 1600px) {
  .welcome-container {
    height: 81vh;
  }

  .welcome-container__create {
    align-items: start;
    height: 50%;
  }

  .welcome-container__make {
    align-items: start;
    height: 50%;
  }

  .welcome-container__text {
    font-size: 62px;
    margin-top: 5%;
  }

  .welcome-container__image {
    animation: fade-in-left 3s ease-out forwards;
  }
}

@media (max-width: 1599px) and (min-width: 1001px) {
  .welcome-container {
    height: 81vh;
  }

  .welcome-container__create {
    align-items: start;
    height: 50%;
  }

  .welcome-container__make {
    align-items: start;
    height: 50%;
  }

  .welcome-container__text {
    font-size: 42px;
    margin-top: 5%;
  }

  .welcome-container__image {
    animation: fade-in-left 1s ease-out forwards;
  }
}

@media (max-width: 1000px) {
  .welcome-container {
    height: 81vh;
  }

  .welcome-container__create {
    align-items: end;
    height: 50%;
  }

  .welcome-container__make {
    align-items: start;
    height: 50%;
  }

  .welcome-container__text {
    font-size: 52px;
    padding-bottom: 40px;
  }

  .welcome-container__image,
  .breakline {
    display: none;
  }
}


@keyframes fade-in-left {
  0% {
    opacity: 0;
    transform: translateX(-40%) scaleX(0.3);
    transform-origin: left;
  }
  100% {
    opacity: 1;
    transform: translateX(0) scaleX(1);
    transform-origin: left;
  }
}