@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  --primary: #00A648;
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
}

html, body {
  margin: 0;
  padding: 0;
}